.navbar{
    background-color: lightblue;
    height: 80px;
    border-bottom: 3px solid darkcyan;
}
.logo {
    height: 100%;
}
#logo{
    height: 100%;
}

.menu{
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.menu button{
    background-color: white;
    min-width: 100px;
    padding: 0 10px;
    border-radius: 10px;
    border: darkcyan 3px solid;
    height: 30px;
    font-weight: bold;
    color: darkcyan;
}

.menu button:hover{
    background-color: darkcyan;
    color: white;
    border-color: white;
}